@{
    ViewData["Title"] = "Typy pojištění";
}

<section>
    <div class="container mt-4">
        <h2>Typy pojištění</h2>
        <hr />
    </div>
    <div class="container py-4">
        <div class=" col-md-offset-4">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="https://www.itnetwork.cz/images/5/css/bootstrap/pozadi_les.jpeg" alt="Les">
                    <div class="card-body">
                        <h4 class="card-title">Zdravotní pojištění</h4>
                        <p class="card-text">je zaměřeno na to, aby pomohlo lidem pokrýt náklady spojené se zdravotní péčí. Jeho hlavním cílem je zajistit finanční stabilitu a ochranu před neočekávanými náklady v případě zdravotních problémů</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Aktualizováno 2023</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.itnetwork.cz/images/5/css/bootstrap/pozadi_poust.jpeg" alt="Poušť">
                    <div class="card-body">
                        <h4 class="card-title">Cestovní pojištění</h4>
                        <p class="card-text">poskytuje ochranu pro cestovatele při neočekávaných situacích během cestování. Cestovní pojištění může být sjednáno na jednu konkrétní cestu nebo jako celoroční pojištění pro více cest</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Aktualizováno 2023</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://www.itnetwork.cz/images/5/css/bootstrap/pozadi_jezero.jpeg" alt="Jezero">
                    <div class="card-body">
                        <h4 class="card-title">Úrazové pojištění</h4>
                        <p class="card-text"> poskytuje finanční ochranu v případě úrazu a jeho následků. Úrazové pojištění poskytuje finanční kompenzaci v případě úrazu, který může mít vážné důsledky pro pracovní schopnost nebo kvalitu života</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Aktualizováno 2023</small>
                    </div>
                </div>
              </div>
         </div>
    </div>
</section>